In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('data/weightlifting_workouts.csv')
df.head()

,Date,Workout Name,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,Notes,Workout Notes
0,2015-10-23 17:06:37,Chest,Incline Bench Press (Barbell),1,135.0,8,0.0,0,NaN,NaN
1,2015-10-23 17:06:37,Chest,Incline Bench Press (Barbell),2,135.0,8,0.0,0,NaN,NaN
2,2015-10-23 17:06:37,Chest,Incline Bench Press (Barbell),3,135.0,5,0.0,0,NaN,NaN
3,2015-10-23 17:06:37,Chest,Incline Bench Press (Barbell),4,185.0,7,0.0,0,NaN,NaN
4,2015-10-23 17:06:37,Chest,Incline Bench Press (Barbell),5,230.0,8,0.0,0,NaN,NaN

In [4]:
df = df.drop(['Distance','Seconds', 'Notes', 'Workout Notes'], axis = 1)
df.head()

,Date,Workout Name,Exercise Name,Set Order,Weight,Reps
0,2015-10-23 17:06:37,Chest,Incline Bench Press (Barbell),1,135.0,8
1,2015-10-23 17:06:37,Chest,Incline Bench Press (Barbell),2,135.0,8
2,2015-10-23 17:06:37,Chest,Incline Bench Press (Barbell),3,135.0,5
3,2015-10-23 17:06:37,Chest,Incline Bench Press (Barbell),4,185.0,7
4,2015-10-23 17:06:37,Chest,Incline Bench Press (Barbell),5,230.0,8